html, body {
	margin: 0 !important;
	padding: 0 !important;
	font-family: arial;
}
/*index page*/
.az-logo {

	width: 150px;
	height: 150px;
	margin: 0px auto;
	margin-top: 50px;
}
.az-wrapper {

	width: 600px;
	min-height: 350px;
	margin: 50px auto;
	border-radius: 25px;
	border: 5px solid #078A3C;
}
.az-internalwrapper {
	width: 590px;
	min-height: 340px;
	margin: 5px;
	border-radius: 25px;
	float: left;
	background: #078A3C;
}
.az-form {

	float: left;
	width: 500px;
	height: auto;
	margin-top: 20px;
	margin-left: 93px;
}
.az-form h2 {
	margin-left: 143px;
	font-family: Arial;
	color: #fff;
	font-size: 22px;
}
.az-login {
	margin-top: 84px;
}
.az-login label {
	color: #fff;
	display: inline-block;
	width: 100px;
	text-align: right;
	margin: 3px;
}
.az-user {
	margin-left: 3px;
	padding: 2px;
	width: 250px;
	margin-bottom: 3px;
	height: 20px;
}
.az-submit {
	margin-top: 10px;
	margin-left: 3px;
}
.classname {
	margin-left: -2px;
}
.az-copyright {

	width: 250px;
	margin: auto;
}
.az-copyright p {
	margin-top: -1px;
	margin-left: 32px;
	font-family: Arial;
	font-size: 12px;
	color: #E3E2E3;
}
.az-forgot {
	font-size: 13px;
	margin-left: 4px;
	text-decoration: none;
	color: #fff;
}
.az-forgot a {
	font-size: 13px;
	text-decoration: none;
	color: #fff;
}
.az-btn {
	width: 60px;
	cursor: pointer;
	-moz-box-shadow: inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow: inset 0px 1px 0px 0px #caefab;
	box-shadow: inset 0px 1px 0px 0px #caefab;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
	background: -moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
	background-color: #77d42a;
	border: 1px solid #268a16;
	display: inline-block;
	color: #306108;
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	padding: 4px 10px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #aade7c;
}
.az-btn:hover {
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
	background: -moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
	background-color: #5cb811;
}
.az-btn:active {
	position: relative;
	top: 1px;
}

/*forget page*/

.forget_form h2 {
	margin-left: 125px;
}

/*Dashboard page*/

.wrapper {
	width: 1024px;
	min-height: 1200px;
	margin: 120px auto;
	
	
}
.menu_div {
	background:#FFFFFF;
	width: 100%;
	height: 30px;
	border-bottom:0px solid #535353;
}
.logo_div {
	background: url(../images/green_bar.png);
	width: 100%;
	height: 100px;
	-webkit-box-shadow: 0 8px 6px -6px black; -moz-box-shadow: 0 8px 6px -6px black;box-shadow: 0 8px 6px -6px black;
	position:fixed;
	top:0px;
}

.menu {
	width:100%;
margin:0px;
padding:0px;
margin-left:0px;
}
.menu li {
	border:1px solid red;
	list-style: none;
	float: left;
	width:135px;
	display: inline-block;
	border: 1px solid black;
	border-bottom:none;
	background:#D5D5D5;
	padding:2px;
	text-align:center;
}






.menu li a{
	color:#4E4E4E;
	text-decoration:none;
	line-height:25px;
}
.menu li:hover{
	
	list-style: none;
	float: left;
	width:138px;
	display: inline-block;
	border: 1px solid black;
	background:#5B9A42;
	padding:2px;
	text-align:center;
	border-bottom:none;
}
.menu li a:hover{
	color:#fff;
	text-decoration:none;
	line-height:25px;
}
.az-container{
	background:#5B9A42;
	
	width:100%;
	min-height:800px;
	
	
}

