az-left_menuhtml, body {
	margin: 0 !important;
	padding: 0 !important;
	font-family: arial;
}

/*index page*/
.az-logo {

	width: 150px;
	height: 150px;
	margin: 0px auto;
	margin-top: 50px;
	z-index:5;
}
.az-wrapper {

	width: 600px;
	min-height: 350px;
	margin: 50px auto;
	border-radius: 25px;
	border: 5px solid #078A3C;
}
.az-internalwrapper {
	width: 590px;
	min-height: 340px;
	margin: 5px;
	border-radius: 25px;
	float: left;
	background: #078A3C;
}
.az-form {

	float: left;
	width: 500px;
	height: auto;
	margin-top: 20px;
	margin-left: 93px;
}
.az-form h2 {
	margin-left: 143px;
	font-family: Arial;
	color: #fff;
	font-size: 22px;
}
.az-login {
	margin-top: 84px;
}
.az-login label {
	color: #fff;
	display: inline-block;
	width: 100px;
	text-align: right;
	margin: 3px;
}
.az-user {
	margin-left: 3px;
	padding: 2px;
	width: 250px;
	margin-bottom: 3px;
	height: 20px;
}
.az-submit {
	margin-top: 10px;
	margin-left: 3px;
}
.classname {
	margin-left: -2px;
}
.az-copyright {

	width: 250px;
	margin: auto;
}
.az-copyright p {
	margin-top: -1px;
	margin-left: 55px;
	font-family: Arial;
	font-size: 12px;
	color: #E3E2E3;
	width: 270px;
}
.az-forgot {
	font-size: 13px;
	margin-left: 4px;
	text-decoration: none;
	color: #fff;
}
.az-forgot a {
	font-size: 13px;
	text-decoration: none;
	color: #fff;
}
.az-btn {
	width: 60px;
	cursor: pointer;
	-moz-box-shadow: inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow: inset 0px 1px 0px 0px #caefab;
	box-shadow: inset 0px 1px 0px 0px #caefab;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
	background: -moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
	background-color: #77d42a;
	border: 1px solid #268a16;
	display: inline-block;
	color: #306108;
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	padding: 4px 10px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #aade7c;
}
.az-btn:hover {
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
	background: -moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
	background-color: #5cb811;
}
.az-btn:active {
	position: relative;
	top: 1px;
}
.az-forget{
	display:inline-block;
	margin-left:8px;
}
.az-forget a{
	font-size:13px;
	color:#fff;
	text-decoration:none;
}

/*forget page*/

.forget_form h2 {
	margin-left: 125px;
}

/*Dashboard page*/

.logo_div {
	background: url(../images/green_bar-1.png);
	width: 100%;
	height: 100px;
	-webkit-box-shadow: 0 8px 6px -6px black; -moz-box-shadow: 0 8px 6px -6px black;box-shadow: 0 8px 6px -6px black;
	position:fixed;
	top:0px;
z-index: 1;
}
.az_log{
	
	
	
	width:1024px;
	height:75px;
	margin:auto;
	margin-top:12px;
}

.dash_logout{
	margin-left: 910px; margin-top: -95px; text-align:left;
}
.dash_logout span{
	color:#fff;
}
.dash_logout span a{
	color:#fff;
}
.dash_heading{
	border:1px solid red;
	
	margin-top:-50px;
	margin-left: 270px;
	
	color:#fff;
	font-size:50px;
	font-weight:bold;
}
.wrapper {
	width: 1024px;
	min-height: 1000px;
	margin: 150px auto;
	margin-bottom:50px;
	
}
.menu_div {
	background:#FFFFFF;
	width: 100%;
	height: 40px;
	
}

.menu {
	width:100%;
margin:0px;
padding:0px;
margin-left:0px;
height:40px;
}

.menu li {
	list-style: none;
	float: left;
	width:146px;
	display: inline-block;
	height:40px;
	border-bottom:none;
	background: url(../images/gray_bar.png);
	
	text-align:center;
	
}






.menu li a{
	height:25px;
	width:146px;
	display:inline-block;
	color:#4E4E4E;
	text-decoration:none;
	line-height:40px;
}
/*
.menu li:hover{
	
	list-style: none;
	float: left;
	width:140.29px;
	display: inline-block;
	border: 1px solid black;
	background:#20A03E;
	padding:2px;
	text-align:center;
	border-bottom:none;
}*/
.menu li a:hover{
	color:#fff;
	text-decoration:none;
	line-height:40px;
	width:146px;
	height:40px;
	display:inline-block;
	
	background: url(../images/green_bar2.png);
}
.az-container{
	background:#20A03E;
	float:left;
	width:100%;
	min-height:1000px;
	margin-top:0px;	
}
.az-dashboard-info{
	
	
	float:left;
	margin-top:130px;
	margin-left:220px;
	width:600px;
	
	min-height:400px;
	
	border-radius: 25px;
	background:#fff;
	
}
.dash_span_wrapper{
	float:left;
	
	margin-top:80px;
	width:auto;
	height:auto;
}
.dash_q_info{
	
	float:left;
	diaplay:inline-block;
	
	margin-top:8px;
	margin-left:80px;
	width:160px;
	padding:3px;
}
.dash_a_info{
	margin-top:13px;
	float:left;
	diaplay:inline-block;
	
	margin-top:8px;
	margin-left:130px;
	width:180px;
	padding:3px;
}

#table_div_browse {height:820px;width:905px; overflow-x:hidden;}

/*wase area info page*/
.az-left-content{
	border:1px solid #535353;
	border-right:none;
	border-top:none;

border-bottom:none;
border-left:none;
	width:200px;
	height:1000px;
	float:left;
}
.az-right-content{
	
	float:left;
	width:815px;
	height:1000px;
	border:1px solid #535353;
	border-top:none;
	border-right:none;


border-bottom:none;
}
.az-left_menu{

width:200px;
height:300px;
margin:50px auto;	
	
}
.left-nav{
margin:0px;
padding:0px;	
}
.left-list{
	width:200px;
	height:40px;
	padding: 0px;
	
	list-style-type: none;
	background: url(../images/gray_bar.png);
}

.left-list a{
	width:200px;
	height:40px;
	
	text-decoration:none;
	display:inline-block;
	line-height:30px;
	padding-left:10px;
	padding-top:5px;
	color:#4E4E4E;
	
}
.left-list a:hover{
	
	padding-left:10px;
	text-decoration:none;
	display:inline-block;
	line-height:30px;
	padding-top:5px;
	
}

.wa_info_head{
	margin:20px;
	font-family:Arial;
	font-size:30px;
color:#fff;
}
.wa_info_formarea{
	
	width:600px;
	height:700px;
	margin:30px auto;
}
.wa_info_select{
	width:209px;
	line-height:20px;

   border-radius: 0px;
   height: 25px;
margin-bottom:5px;
margin-left:4px;

background-color: #fff;
background-image: none;
padding:3px;

-moz-border-radius: 0px;
-webkit-border-radius: 0px;

 cursor:pointer;
font-family:arial;

display: inline-block;

 
  
}

.wa_info_text{
margin-left: 3px;
	padding: 2px;
	width: 203px;
	margin-bottom: 3px;
	height: 20px;	
}


/*councils page styling*/

.council_area{

float:left;	
width:950px;
min-height:800px;
background:#fff;
border-radius:15px;	
margin:35px;
margin-top:-30px;
}
.first_conc{
margin:5px;	
margin-left:25px;
}


/*council_info*/
.council_select{
	width:257px;
	line-height:20px;

   border-radius: 0px;
   height: 25px;
margin-bottom:5px;
margin-left:4px;

background-color: #fff;
background-image: none;
padding:3px;

-moz-border-radius: 0px;
-webkit-border-radius: 0px;

 cursor:pointer;
font-family:arial;

display: inline-block;

 
  
}

.council-login {
	margin-top: 84px;
}
.council-login label {
	color: #fff;
	display: inline-block;
	width: 150px;
	text-align: right;
	margin: 3px;
}

.az-user {
	margin-left: 3px;
	padding: 2px;
	width: 250px;
	margin-bottom: 3px;
	height: 20px;
}
.az-submit {
	margin-top: 10px;
	margin-left: 3px;
}
.classname {
	margin-left: -2px;
}
.council-login input[type=file]{
	
	background:trnparent;
	
}









