

@import url(http://fonts.googleapis.com/css?family=Oxygen);


html, body {
	margin: 0 !important;
	padding: 0 !important;
font-family: 'Oxygen';
}

a{
border:none;important!
}
img{

border:none;
}
.wrapper{
	
	width:1024px;
	margin:30px auto;
	height:auto;
	margin-bottom:0px;
}
.header{
	width:100%;
	height:272px;
	
	
	background: url(../images/banner.png);
	
}
.left_header{
	float:left;
	width:300px;
	height:220px;
	
}
.right_header{
	float:left;
	width:723px;
	height:220px;
	
}
.left_header img{
	float:right;
margin-right:60px;
margin-top:7px;
	
}
.menu_div{
	width:723px;
	height:45px;
	background:#393939;


background: url(../images/navigation_right.png);
}
.menu {
	width:100%;
margin:0px;
padding:0px;
margin-left:50px;
height:40px;
}

.menu li {
	list-style: none;
	float: left;
	width:90px;
	display: inline-block;
	height:40px;
	border-bottom:none;
	text-align:center;
	margin:2px;
	
}
.menu li a{
	height:40px;
	width:90px;
	display:inline-block;
	color:#fff;
	text-decoration:none;
	line-height:40px;
	font-size:14px;

font-family: 'Oxygen';
}
.menu li a:hover{
	height:40px;
	width:90px;
	display:inline-block;
	color:#1DA442;
	text-decoration:none;
	line-height:40px;
	font-size:14px;

	font-family: 'Oxygen';
}
.header_info{
	
	width:480px;
	height:auto;
	float:left;
	margin:40px;
		margin-left:0px;
	font-family: 'Oxygen';

}

.header_info h2{
font-size:20px;
	color:#FCF5F9;
	margin:0px;
	padding:0px;
	font-family:"T;

}
.header_info p{
	font-size:16px;
	color:#FCF5F9;
	margin:0px;
	padding:0px;
font-style:italic;
margin-top:3px;
font-family: 'Oxygen';
}


.container{
	background:#EAEAEA;
	width:1024px;
	height:auto;
	float:left;
	min-height:1000px;
	
}
.left_content{
	
	float:left;
	
	width:250px;
	min-height:800px;
}
.center_content{
	float:left;
	
	width:470px;
	min-height:800px;
}

.right_content{
	float:left;
	
	width:280px;
	min-height:800px;
}
.right_content img{
	
	margin-left:-25px;
}

.left_menu_div{
	
	width:250px;
	height:200px;
	margin:50px auto;
}
.center_content_para{
	width:470px;
	text-align:justify;
	color:#000000;
	padding:0px;
font-size:16px;
font-family: 'Oxygen';
}
.center_content img{
	float:right;
	margin-top:70px;
	
}

.center_content_an{
	font-size:22px;
	display:inline-block;
	width:90px;
	margin:10px;
	color:#1DA442;
font-family: 'Oxygen';
}
.councils_link{
	margin-left:30px;
	display:inline-block;
}
.right_content img{
	margin-top:70px;
}
.tech_inno_list li{

margin-bottom:10px;
}

.tech_inno{
	display:inline-block;
width:470px;
	text-align:justify;
	color:#000000;
	padding:10px;
	margin:0px;	
	font-size:16px;
font-family: 'Oxygen';


}
.tech_inno_an{
	font-size:16px;
	padding:0px;

font-family: 'Oxygen';
}
.tech_inno_list{
	padding-left:10px;
	margin:0px;
	margin-left:15px;

font-family: 'Oxygen';
}

/*Left nav for web*/


.left-nav{
margin:0px;
padding:0px;	
}
.left-list{
	width:200px;
	height:30px;
	padding: 0px;
	
	list-style-type: none;
	
}

.left-list a{
	width:200px;
	height:30px;
	
	text-decoration:none;
	display:inline-block;
	line-height:30px;
	padding-left:10px;
	padding-top:0px;
	color:#4E4E4E;
	font-size:14px;
	font-family: 'Oxygen';


	
}
.left-list a:hover{
	
	padding-left:10px;
	text-decoration:none;
	display:inline-block;
	line-height:30px;
	padding-top:0px;
	color:#fff;
background: url(../images/green_bar2.png);
	background-size:220px 40px;
	background-repeat:repeat-x;
	font-size:14px;
font-family: 'Oxygen';
	
}

.saving_councils_table{
	margin-top:30px;
	margin-left:15px;
	background:#D0D0D0
}
.tbl_head{
	padding:0px;
	margin:0px;
	padding-left:5px;
	width:100px;
	color:#000;
font-family: 'Oxygen';
}
.tbl_tr{

}

/*FOOTER MENU BAR*/

.footer_div{
	clear:both;
	margin-top:0px;
	margin:auto;
	width:1024px;
	height:45px;
background: url(../images/navigation_right.png);
margin-bottom:10px;
	
	
}
.menu_foo {
	width:100%;
margin:0px;
padding:0px;
margin-left:130px;
height:40px;
}

.menu_foo li {
	list-style: none;
	float: left;
	width:90px;
	display: inline-block;
	height:40px;
	border-bottom:none;
	text-align:center;
	margin:2px;
	
}
.menu_foo li a{
	height:40px;
	width:90px;
	display:inline-block;
	color:#fff;
	text-decoration:none;
	line-height:40px;
	font-size:12px;
}
.menu_foo li a:hover{
	height:40px;
	width:90px;
	display:inline-block;
	color:#1DA442;
	text-decoration:none;
	line-height:40px;
	font-size:12px;
}
.nav_foo{
	
	color:#fff;
	text-decoration:none;
	line-height:40px;
	font-size:13px;
	display:inline-block;
	width:300px;
	padding-left:40px;
	padding-top:2px;
}
.report_left_info{
	word-wrap: break-word;
	width:300px;
	min-height:500px;
	float:left;
	
}
.report_right_info{
	
	width:120px;
	min-height:500px;
	float:left;
	margin-left:30px;
	
}
.report_right_info img{
	margin:10px;
	padding:0px;
	float:left;
}
/*for styling*/
.az-login {
	margin-top: 50px;
	margin-left:-10px;
}
.az-login label {
	color: #000;
	display: inline-block;
	width: 100px;
	text-align: right;
	margin: 3px;
}
.az-user {
	margin-left: 10px;
	padding: 2px;
	width: 280px;
	margin-bottom: 7px;
	height: 30px;
}

.az-user_text {
	margin-left: 10px;
	padding: 2px;
	width: 280px;
	margin-bottom: 3px;
	height: 80px;
	resize:none;
overflow:auto;
}

.az-submit {
	margin-top: 10px;
	margin-left: 80px;
}
.classname {
	margin-left: -1px;
}

.az-btn {
	width: 60px;
	cursor: pointer;
	-moz-box-shadow: inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow: inset 0px 1px 0px 0px #caefab;
	box-shadow: inset 0px 1px 0px 0px #caefab;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
	background: -moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
	background-color: #77d42a;
	border: 1px solid #268a16;
	display: inline-block;
	color: #306108;
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	padding: 4px 10px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #aade7c;
}
.az-btn:hover {
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
	background: -moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
	background-color: #5cb811;
}
.az-btn:active {
	position: relative;
	top: 1px;
}

.enquiry_star{
	display:inline-block;
	
	color:#FF0000;
	
}

.resident_img{
margin-top:15px;	

height:auto;
float:left;
width:420px;
margin-left:30px;	

}
.resident_img img{
	float:left;
	margin:10px;
}
.social_media{
	
width:320px;
float:left;
height:100px;
	
margin-left:30px;

}
.social_media_span1{
	
display:inline-block;

width:120px;
height:auto;
margin-left:15px;
margin-top:40px;

}
.social_media_span2{
	display:inline-block;

width:150px;

padding:0px;
margin-top:40px;
}
.social_media_span2 img{
	padding:0px;
	margin:0px;
	margin-left:3px;
}
.videocontrol{
	
	display:block;
	float:left;
	width:400px;
	height:400;
	margin:20px;
	
position:absolute;
}
.resident_form_wrap{
	float:left;
	
	height:20px;
	width:150px;
	margin-left:170px;
	padding:0px;
	
}
.resident_form select{
	border:1px solid grey;
	width:150px;
	height:20px;
	padding:0px;
	margin:0px;
	border:none;
	background:#fff;
	
}

.midcoast{
	margin:30px;
	margin-top:50px;
	margin-left:130px;
	float:left;
	width:230px;
	height:135px;
	background:#fff;
	
}
.midcoast img{
	padding:0px;
	margin-top:10px;
	margin-right:8px;
	
}
.midcoast2{
	width:140px;
	height:110px;
	background:#fff;
	float:left;
	margin:5px;
}
.midcoast2 img{
	padding:0px;
	margin:0px;
	margin-top:10px;
	margin-right:10px;
}
#fline{margin-left:-8px;}

#sline{margin-left:-8px;}
#tline{margin-left:35px;}
#fvline{margin-left:75px;}

