
@charset "utf-8";
/* CSS Document */

body {
	color:#000;
	font-family:Verdana, Geneva, sans-serif;
	
}
#wrapper
{
width:1200px;
height:auto;
border:#C69;
margin:auto;
border:1px solid #CBCFB3;
margin-bottom:15px;

}

#header
{
width:1200px;
height:295px;
border: 0px solid green;
background-image:url(../images/main.jpg);
margin-top:0px;
	
}

#headerbg
{
width:1200px;
height:37px;
background-image:url(../images/headar_buttom_bat_bg.png);
background-repeat: repeat-x ;

	
	
}
#main
{
width:1200px;
height:630px;	
background-color:#F0F2DA;
float:left;
margin:0px;
padding:0px;
}


#waste
{

width:170px;
height:200px;	
margin-left:30px;	
margin-top:30px;
float:left;	
}
#new
{
width:200px;
height:200px;
float:left;
margin-top:10px;
}
#access
{
width:420px;
height:0px;	
float:left;	
margin-left:310px;	
color:#1F743D;
font-size:24px;
 

}
#download
{

margin-left:500px;	
margin-top:150px;	
width:170px;
height:50px;

font-size:18px;
color:#1F743D;	
}

.img{
	margin-left:20px;
	margin-top:10px;
	
}
.intro
{
width:450px;
height:250px;;
margin-left:16px;
background-repeat:none;
margin-top:30px;
font-size:20px;
color:#363B33;
padding-top:7px;	
}
#google
{
width:400px;
height:70px;
margin-left:700px;
margin-top:20px;
	
}
#top
{
width:1200px;
height:74px;
background-image:url(../images/nav_top_bar_bg.png);
background-repeat: repeat-x ;	
	
}


#and{
	margin-top:15px;
}
#footer
{
width:1200px;	
height:41px;
background-image:url(../images/bottom_bar_bg.png);
background-repeat: repeat-x ;		
padding:0px;
margin-top:0px;

}

.menu{
	
	float:left;
	margin-top:30px;
	margin-right:5px;
	display:inline;
	list-style-type:none;
	margin-left:510px;
	
}
.menu li{
	float:left;
	list-style-type:none;
	padding-left:10px;

}

.menu li a{
	
	text-decoration:none;
	color:white;
	font-size:14px;
	font-weight:bold;
}

.menu li a:hover{
	color:green;
	text-decoration:underline;
	
	


	
	
	
	
	
}

.sp{
	display:block;
	
	
}
.navimg{
	margin-left:55px;
	margin-top:-45px;
	
	
}
.footer_nav {
margin-left:200px;


 
	
}
.footer_nav li {
 float:left;
list-style-type:none;
padding:10px;
margin-left:50px;


}
.footer_nav li a{

text-decoration:none;
color:#A7B1B9;


}
.footer_nav li a:hover{

text-decoration:none;
color:green;


}


#mainarea

{
float:left;
width:1200px;
height:700px;
background-color:#F0F2DA;
}

#text{
width:600px;
height:auto;
padding-left:15px;	
padding-top:15px;	
}
#text2
{
width:1150px;
height:150px;	
padding:20px;
	
}
.center
{
margin-left:850px;	
}
.img1{
	float:right;
	margin-top:-40px;
	
}
.img2{
	
	float:right;
	margin-top:-25px;
}
#check
{
margin-left:110px;
font-size:16px;	
color:#04632C;

}
#img3
{
width:800px;
height:210px;	
background-image:url(../images/for_council_background.png);
background-repeat: no-repeat;
margin-left:240px;
padding:10px;
margin-top:60px;

}

.img3 a
{



text-decoration:none;
font-size:14px;

}

.img3 a:hover
{



text-decoration:underline;




}
.sp1 a:hover{
text-decoration:underline;
	
	
	
	
}
#mostcouncil
{
width:600px;
height:200px;	
margin-left:40px;
padding-top:20px;
float:left;
text-align:justify;
font-size:14px;
}
#left_img
{
width:300px;	
height:200px;
float:left;	
margin-left:130px;	
margin-top:25px;
}
#table
{
width:850px;
height:300px;
clear:both;
float:left;
margin-left:40px;
}
#img2_left
{
width:160px;
height:400px;	
float:left;
margin-left:35px;

}
#mostcouncil2
{
width:600px;
height:auto;	
margin-left:40px;
padding-top:20px;
float:left;
text-align:justify;
}
#form
{
width:200px;
height:2oopx;
margin-left:160px;
margin-top:50px;
}
#img_phone
{
width:200px;
height:350px;
float:left;
margin-left:300px;
}
.td{
	margin-top:20px;
}
#header2
{
width:1200px;
height:295px;
border: 0px solid green;
background-image:url(../images/headar_image2.jpg);
margin-top:0px;
	
}
#header3
{
width:1200px;
height:295px;
border: 0px solid green;
background-image:url(../images/headar_image3.jpg);
margin-top:0px;
	
}

#headerunk
{
width:1200px;
height:295px;
border: 0px solid green;
background-image:url(../images/headar_image8.jpg);
margin-top:0px;
	
}
#download_our
{
margin-left:1050px;


}
#header5
{
width:1200px;
height:295px;
border: 0px solid green;
background-image:url(../images/headar_image5.jpg);
margin-top:0px;
}
#mainarea2
{
width:1200px;
height:900px;
background-color:#F0F2DA;
}
#img_phone2
{
width:100px;
height:100px;
float:left;
margin-left:200px;

}
#mainarea3
{
width:1200px;
height:900px;
background-color:#F0F2DA;
}
#text_box
{
width:400px;
height:100px;
margin-left:30px;	
}
#image_box
{
height:100px;	
width:100px;
margin-left:650px;	
	
}
.img_boxx{
width:300px;
height:300px;
	
	
	
}
.left_content{
height:800px;
width:500px;
float:right;
	
}
.right_content{

height:600px;
width:605px;
float:left;	
margin-left:50px;
margin-top: 10px;	
}
#boxx
{
width:200px;
height:170px;

margin-top: 10px;
float:left;
}
#boxx1
{
width:200px;
height:170px;

margin-top: 20px;
margin-left:30px;

float:left;
}
#header7
{
width:1200px;
height:295px;
border: 0px solid green;
background-image:url(../images/headar_image7.jpg);
margin-top:0px;
}
#header6
{
width:1200px;
height:295px;
border: 0px solid green;
background-image:url(../images/headar_image6.jpg);
margin-top:0px;
}
#mainarea3
{
width:1200px;
height:1000px;
background-color:#F0F2DA;
}
#header8
{
width:1200px;
height:295px;
border: 0px solid green;
background-image:url(../images/headar_image8.jpg);
margin-top:0px;
}
#st1
{
width:100px;
height:100px;
}
st2
{ 
width:100px;
height:100px;
}
.active
{
color:green;

}
#header9
{
width:1200px;
height:295px;
border: 0px solid green;
background-image:url(../images/headar_image9.jpg);
margin-top:0px;
}
#mainarea10
{
width:1200px;
height:1000px;
background-color:#F0F2DA;
}
#header_banner
{
width:1200px;
height:295px;

background-image:url(../images/benner.jpg);
margin-top:0px;
}
#header_text
{
	
width:150px;
height:100px;
border:5px solid green;

margin-left:400px;
color:white;
}
#header_text2
{
width:150px;
height:100px;
border:1px dotted #0AAE4B;
margin-left:400px;
color:white;	

}
.active2
{
	background:url(../images/bottom_bar_bg.png);

}
#header13
{
width:1200px;
height:295px;
border: 0px solid green;
background-image:url(../images/headar_image4.jpg);
margin-top:0px;
	
}
#header_about
{
width:1200px;
height:295px;
border: 0px solid green;
background-image:url(../images/about.jpg);
margin-top:0px;
}
#header_contact
{
width:1200px;
height:295px;
border: 0px solid green;
background-image:url(../images/contact.jpg);
margin-top:0px;
}
#header_faq
{
width:1200px;
height:295px;
border: 0px solid green;
background-image:url(../images/faq.jpg);
margin-top:0px;
}
#header_privacy
{
width:1200px;
height:295px;
border: 0px solid green;
background-image:url(../images/Privacy-Policy.jpg);
margin-top:0px;
}
#header_your-council
{
width:1200px;
height:295px;
border: 0px solid green;
background-image:url(../images/Your-Council.jpg);
margin-top:0px;
}
#header_news
{
width:1200px;
height:295px;
border: 0px solid green;
background-image:url(../images/News-&-Events.jpg);
margin-top:0px;
}
#header_testimonials
{
width:1200px;
height:295px;
border: 0px solid green;
background-image:url(../images/Testimonials.jpg);
margin-top:0px;
}
	
	
	
	

